In [92]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

pd.set_option("display.notebook_repr_html", True)

In [84]:
import warnings
warnings.filterwarnings('ignore')

In [88]:
covid_df = pd.read_csv('Casos_positivos_de_COVID-19_en_Colombia.csv')

In [90]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4852323 entries, 0 to 4852322
Data columns (total 23 columns):
 #   Column                        Dtype
---  ------                        -----
 0   fecha reporte web             object
 1   ID de caso                    int64
 2   Fecha de notificación         object
 3   Código DIVIPOLA departamento  int64
 4   Nombre departamento           object
 5   Código DIVIPOLA municipio     int64
 6   Nombre municipio              object
 7   Edad                          int64
 8   Unidad de medida de edad      int64
 9   Sexo                          object
 10  Tipo de contagio              object
 11  Ubicación del caso            object
 12  Estado                        object
 13  Código ISO del país           float64
 14  Nombre del país               object
 15  Recuperado                    object
 16  Fecha de inicio de síntomas   object
 17  Fecha de muerte               object
 18  Fecha de diagnóstico          object
 19  Fecha de recuperación         object
 20  Tipo de recuperación          object
 21  Pertenencia étnica            float64
 22  Nombre del grupo étnico       object
dtypes: float64(2), int64(5), object(16)
memory usage: 851.5+ MB

In [30]:
covid_df.head()

,fecha reporte web,ID de caso,Fecha de notificación,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Edad,Unidad de medida de edad,Sexo,...,Código ISO del país,Nombre del país,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico
0,6/3/2020 0:00:00,1,2/3/2020 0:00:00,11,BOGOTA,11001,BOGOTA,19,1,F,...,380.0,ITALIA,Recuperado,27/2/2020 0:00:00,NaN,6/3/2020 0:00:00,13/3/2020 0:00:00,PCR,6.0,NaN
1,9/3/2020 0:00:00,2,6/3/2020 0:00:00,76,VALLE,76111,BUGA,34,1,M,...,724.0,ESPAÑA,Recuperado,4/3/2020 0:00:00,NaN,9/3/2020 0:00:00,19/3/2020 0:00:00,PCR,5.0,NaN
2,9/3/2020 0:00:00,3,7/3/2020 0:00:00,5,ANTIOQUIA,5001,MEDELLIN,50,1,F,...,724.0,ESPAÑA,Recuperado,29/2/2020 0:00:00,NaN,9/3/2020 0:00:00,15/3/2020 0:00:00,PCR,6.0,NaN
3,11/3/2020 0:00:00,4,9/3/2020 0:00:00,5,ANTIOQUIA,5001,MEDELLIN,55,1,M,...,NaN,NaN,Recuperado,6/3/2020 0:00:00,NaN,11/3/2020 0:00:00,26/3/2020 0:00:00,PCR,6.0,NaN
4,11/3/2020 0:00:00,5,9/3/2020 0:00:00,5,ANTIOQUIA,5001,MEDELLIN,25,1,M,...,NaN,NaN,Recuperado,8/3/2020 0:00:00,NaN,11/3/2020 0:00:00,23/3/2020 0:00:00,PCR,6.0,NaN

In [31]:
covid_df.shape

(4852323, 23)

In [32]:
sorted(covid_df.columns)

['Código DIVIPOLA departamento',
 'Código DIVIPOLA municipio',
 'Código ISO del país',
 'Edad',
 'Estado',
 'Fecha de diagnóstico',
 'Fecha de inicio de síntomas',
 'Fecha de muerte',
 'Fecha de notificación',
 'Fecha de recuperación',
 'ID de caso',
 'Nombre del grupo étnico',
 'Nombre del país',
 'Nombre departamento',
 'Nombre municipio',
 'Pertenencia étnica',
 'Recuperado',
 'Sexo',
 'Tipo de contagio',
 'Tipo de recuperación',
 'Ubicación del caso',
 'Unidad de medida de edad',
 'fecha reporte web']

In [74]:
covid_df.describe()

,ID de caso,Código DIVIPOLA departamento,Código DIVIPOLA municipio,Edad,Unidad de medida de edad,Código ISO del país,Pertenencia étnica
count,4.852323e+06,4.852323e+06,4.852323e+06,4.852323e+06,4.852323e+06,3093.000000,4.828583e+06
mean,2.426202e+06,1.288103e+03,2.825304e+04,3.954936e+01,1.003492e+00,596.094407,5.906572e+00
std,1.400745e+06,5.833605e+03,2.606347e+04,1.790326e+01,6.415553e-02,286.343462,6.083385e-01
min,1.000000e+00,5.000000e+00,5.001000e+03,1.000000e+00,1.000000e+00,4.000000,1.000000e+00
25%,1.213122e+06,1.100000e+01,1.100100e+04,2.700000e+01,1.000000e+00,380.000000,6.000000e+00
50%,2.426202e+06,1.700000e+01,1.100100e+04,3.700000e+01,1.000000e+00,724.000000,6.000000e+00
75%,3.639282e+06,6.800000e+01,5.000100e+04,5.200000e+01,1.000000e+00,840.000000,6.000000e+00
max,4.852363e+06,4.700100e+04,9.977300e+04,1.140000e+02,3.000000e+00,1724.000000,6.000000e+00

In [44]:
covid_df.loc[(covid_df['Sexo'] == 'f'),['Sexo']] = 'F'
covid_df.loc[(covid_df['Sexo'] == 'm'),['Sexo']] = 'M'
covid_df.loc[(covid_df['Estado'] == 'Fallecido'),['Estado']] = 'FALLECIDO'
covid_df.loc[(covid_df['Estado'] == 'Grave'),['Estado']] = 'GRAVE'
covid_df.loc[(covid_df['Estado'] == 'leve'),['Estado']] = 'LEVE'
covid_df.loc[(covid_df['Estado'] == 'Leve'),['Estado']] = 'LEVE'
covid_df.loc[(covid_df['Estado'] == 'Moderado'),['Estado']] = 'MODERADO'

In [47]:
df_sexo_estado = covid_df.groupby(["Sexo","Estado"])['ID de caso'].count()
df_sexo_estado

Sexo  Estado
F     FALLECIDO      47744
      GRAVE           1088
      LEVE         2481446
      MODERADO        8651
M     FALLECIDO      75209
      GRAVE           1497
      LEVE         2211047
      MODERADO        8957
Name: ID de caso, dtype: int64

In [49]:
df = covid_df.groupby(["Sexo","Estado"])['Edad'].mean()
df

Sexo  Estado
F     FALLECIDO    68.793922
      GRAVE        52.006434
      LEVE         39.017059
      MODERADO     48.582360
M     FALLECIDO    66.764762
      GRAVE        50.816299
      LEVE         38.297667
      MODERADO     49.017863
Name: Edad, dtype: float64

In [51]:
df = covid_df.groupby(["Sexo","Estado"])['Edad'].max()
df

Sexo  Estado
F     FALLECIDO    108
      GRAVE         98
      LEVE         114
      MODERADO     111
M     FALLECIDO    110
      GRAVE         94
      LEVE         114
      MODERADO      99
Name: Edad, dtype: int64

In [53]:
df_fallecidos = covid_df[(covid_df['Estado']=='FALLECIDO')]
df_fallecidos.shape

(122953, 23)

In [60]:
df_fallecidos_mean =  df_fallecidos.groupby('Estado')['Edad'].transform('mean')
display(
    df_fallecidos_mean.head(),
    df_fallecidos_mean.shape
)

151    67.552707
152    67.552707
156    67.552707
187    67.552707
196    67.552707
Name: Edad, dtype: float64

(122953,)

In [93]:
df_fallecidos['Edad promedio'] = df_fallecidos_mean
df_fallecidos.head()

,fecha reporte web,ID de caso,Fecha de notificación,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Edad,Unidad de medida de edad,Sexo,...,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico,Edad promedio,internos
151,20/3/2020 0:00:00,152.0,18/3/2020 0:00:00,11.0,BOGOTA,11001.0,BOGOTA,65.0,1.0,M,...,Fallecido,10/3/2020 0:00:00,5/4/2020 0:00:00,20/3/2020 0:00:00,NaN,NaN,6.0,NaN,67.552707,0
152,20/3/2020 0:00:00,153.0,18/3/2020 0:00:00,11.0,BOGOTA,11001.0,BOGOTA,53.0,1.0,F,...,Fallecido,18/3/2020 0:00:00,6/4/2020 0:00:00,20/3/2020 0:00:00,NaN,NaN,6.0,NaN,67.552707,1
156,20/3/2020 0:00:00,157.0,20/3/2020 0:00:00,47001.0,STA MARTA D.E.,47001.0,SANTA MARTA,88.0,1.0,M,...,Fallecido,12/3/2020 0:00:00,23/3/2020 0:00:00,20/3/2020 0:00:00,NaN,NaN,6.0,NaN,67.552707,1
187,21/3/2020 0:00:00,188.0,17/3/2020 0:00:00,76.0,VALLE,76892.0,YUMBO,70.0,1.0,F,...,Fallecido,8/3/2020 0:00:00,22/3/2020 0:00:00,21/3/2020 0:00:00,NaN,NaN,6.0,NaN,67.552707,1
196,16/3/2020 0:00:00,197.0,13/3/2020 0:00:00,13001.0,CARTAGENA,13001.0,CARTAGENA,58.0,1.0,M,...,Fallecido,6/3/2020 0:00:00,16/3/2020 0:00:00,16/3/2020 0:00:00,NaN,NaN,6.0,NaN,67.552707,1

In [68]:
df_fallecidos_pordebajo = df_fallecidos[df_fallecidos['Edad'] < df_fallecidos['Edad promedio']]
display(df_fallecidos_pordebajo.head(),df_fallecidos_pordebajo.shape)

,fecha reporte web,ID de caso,Fecha de notificación,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Edad,Unidad de medida de edad,Sexo,...,Nombre del país,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico,Edad promedio
151,20/3/2020 0:00:00,152.0,18/3/2020 0:00:00,11.0,BOGOTA,11001.0,BOGOTA,65.0,1.0,M,...,ESTADOS UNIDOS DE AMÉRICA,Fallecido,10/3/2020 0:00:00,5/4/2020 0:00:00,20/3/2020 0:00:00,NaN,NaN,6.0,NaN,67.552707
152,20/3/2020 0:00:00,153.0,18/3/2020 0:00:00,11.0,BOGOTA,11001.0,BOGOTA,53.0,1.0,F,...,NaN,Fallecido,18/3/2020 0:00:00,6/4/2020 0:00:00,20/3/2020 0:00:00,NaN,NaN,6.0,NaN,67.552707
196,16/3/2020 0:00:00,197.0,13/3/2020 0:00:00,13001.0,CARTAGENA,13001.0,CARTAGENA,58.0,1.0,M,...,NaN,Fallecido,6/3/2020 0:00:00,16/3/2020 0:00:00,16/3/2020 0:00:00,NaN,NaN,6.0,NaN,67.552707
231,22/3/2020 0:00:00,232.0,20/3/2020 0:00:00,11.0,BOGOTA,11001.0,BOGOTA,59.0,1.0,F,...,NaN,Fallecido,13/3/2020 0:00:00,26/3/2020 0:00:00,22/3/2020 0:00:00,NaN,NaN,6.0,NaN,67.552707
260,23/3/2020 0:00:00,261.0,23/3/2020 0:00:00,11.0,BOGOTA,11001.0,BOGOTA,61.0,1.0,M,...,NaN,Fallecido,5/3/2020 0:00:00,4/4/2020 0:00:00,23/3/2020 0:00:00,NaN,NaN,6.0,NaN,67.552707

(57172, 24)

In [70]:
covid_df.groupby(["Sexo","Estado"])['Edad'].agg([min, max])

                min  max
Sexo Estado
F    FALLECIDO    1  108
     GRAVE        1   98
     LEVE         1  114
     MODERADO     1  111
M    FALLECIDO    1  110
     GRAVE        1   94
     LEVE         1  114
     MODERADO     1   99

In [71]:
df_fallecidos.sort_values(by='Nombre departamento', ascending=False)

,fecha reporte web,ID de caso,Fecha de notificación,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Edad,Unidad de medida de edad,Sexo,...,Nombre del país,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico,Edad promedio
1379757,8/12/2020 0:00:00,1379798.0,6/12/2020 0:00:00,99.0,VICHADA,99524.0,LA PRIMAVERA,60.0,1.0,M,...,NaN,Fallecido,6/12/2020 0:00:00,11/12/2020 0:00:00,6/12/2020 0:00:00,NaN,NaN,6.0,NaN,67.552707
3367784,30/5/2021 0:00:00,3367825.0,28/5/2021 0:00:00,99.0,VICHADA,99001.0,PUERTO CARREÑO,50.0,1.0,M,...,NaN,Fallecido,9/5/2021 0:00:00,27/5/2021 0:00:00,27/5/2021 0:00:00,NaN,NaN,6.0,NaN,67.552707
2788740,27/4/2021 0:00:00,2788781.0,14/4/2021 0:00:00,99.0,VICHADA,99001.0,PUERTO CARREÑO,68.0,1.0,M,...,NaN,Fallecido,10/4/2021 0:00:00,12/5/2021 0:00:00,25/4/2021 0:00:00,NaN,NaN,6.0,NaN,67.552707
3270492,25/5/2021 0:00:00,3270533.0,10/5/2021 0:00:00,99.0,VICHADA,99001.0,PUERTO CARREÑO,43.0,1.0,F,...,NaN,Fallecido,10/5/2021 0:00:00,30/5/2021 0:00:00,21/5/2021 0:00:00,NaN,NaN,6.0,NaN,67.552707
3269027,25/5/2021 0:00:00,3269068.0,13/5/2021 0:00:00,99.0,VICHADA,99624.0,SANTA ROSALIA,63.0,1.0,F,...,NaN,Fallecido,13/5/2021 0:00:00,2/6/2021 0:00:00,24/5/2021 0:00:00,NaN,NaN,6.0,NaN,67.552707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2095734,1/2/2021 0:00:00,2095775.0,22/1/2021 0:00:00,91.0,AMAZONAS,91001.0,LETICIA,81.0,1.0,F,...,NaN,Fallecido,21/1/2021 0:00:00,9/8/2021 0:00:00,30/1/2021 0:00:00,NaN,NaN,1.0,MURUI_UITOTO,67.552707
4506047,11/7/2021 0:00:00,4506088.0,9/7/2021 0:00:00,91.0,AMAZONAS,91001.0,LETICIA,80.0,1.0,M,...,NaN,Fallecido,7/7/2021 0:00:00,29/7/2021 0:00:00,9/7/2021 0:00:00,NaN,NaN,6.0,NaN,67.552707
6008,29/4/2020 0:00:00,6049.0,24/4/2020 0:00:00,91.0,AMAZONAS,91001.0,LETICIA,75.0,1.0,M,...,BRASIL,Fallecido,18/4/2020 0:00:00,29/4/2020 0:00:00,29/4/2020 0:00:00,NaN,NaN,1.0,Por definir,67.552707
2198974,16/2/2021 0:00:00,2199015.0,14/2/2021 0:00:00,91.0,AMAZONAS,91001.0,LETICIA,67.0,1.0,M,...,NaN,Fallecido,6/2/2021 0:00:00,24/2/2021 0:00:00,15/2/2021 0:00:00,NaN,NaN,6.0,NaN,67.552707
Edad promedio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
df_fallecidos[(df_fallecidos['Edad'] < 15)].head()

,fecha reporte web,ID de caso,Fecha de notificación,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Edad,Unidad de medida de edad,Sexo,...,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico,Edad promedio,internos
1573,6/4/2020 0:00:00,1574.0,25/3/2020 0:00:00,19.0,CAUCA,19001.0,POPAYAN,3.0,1.0,F,...,Fallecido,15/3/2020 0:00:00,24/3/2020 0:00:00,6/4/2020 0:00:00,NaN,NaN,6.0,NaN,67.552707,1
3963,20/4/2020 0:00:00,3964.0,12/4/2020 0:00:00,25.0,CUNDINAMARCA,25245.0,EL COLEGIO,1.0,2.0,M,...,Fallecido,3/4/2020 0:00:00,21/4/2020 0:00:00,20/4/2020 0:00:00,NaN,NaN,5.0,NaN,67.552707,1
6643,1/5/2020 0:00:00,6684.0,23/4/2020 0:00:00,15.0,BOYACA,15646.0,SAMACA,1.0,2.0,F,...,Fallecido,23/4/2020 0:00:00,29/4/2020 0:00:00,1/5/2020 0:00:00,NaN,NaN,6.0,NaN,67.552707,1
9492,8/5/2020 0:00:00,9533.0,2/5/2020 0:00:00,8.0,ATLANTICO,8758.0,SOLEDAD,7.0,2.0,M,...,Fallecido,30/4/2020 0:00:00,2/5/2020 0:00:00,8/5/2020 0:00:00,NaN,NaN,6.0,NaN,67.552707,1
10626,10/5/2020 0:00:00,10667.0,1/5/2020 0:00:00,52.0,NARIÑO,52427.0,MAGUI (PAYAN),3.0,1.0,F,...,Fallecido,24/4/2020 0:00:00,2/5/2020 0:00:00,10/5/2020 0:00:00,NaN,NaN,1.0,Por definir,67.552707,1

In [76]:
df_fallecidos['Nombre del país'].isna().sum()

122869

In [85]:
df_fallecidos['internos'] = df_fallecidos['Nombre del país'].map(
    lambda x: 1 if pd.isna(x) else 0
)

df_fallecidos['internos'].head()

151    0
152    1
156    1
187    1
196    1
Name: internos, dtype: int64

In [96]:
internos = df_fallecidos['internos'].sum() / df_fallecidos['internos'].count()
internos

0.999308684548693